# API & Auth
google-api-python-client==2.121.0
google-auth==2.29.0
python-dotenv==1.0.1
requests==2.31.0

# Datenverarbeitung & Utilities
pandas==2.2.2
numpy==1.26.4
langdetect==1.0.9
emoji==2.11.0

# Deep Learning & NLP Pipeline
transformers==4.40.2
huggingface-hub==0.23.0
